{% extends 'base.html' %}

{% block head %}
{{ super() }}

{% endblock %}

{% block main_body %}

<div class="main-container">
    <div class="main-content">
        <div class="explainer-wrapper">

            <h1><strong>Tying it all togehter:</strong></h1>
            
            <table class="styled-table">
                <tr>
                    <th><strong>Golden images</strong> are an essential part of our immutable pattern
                     </th>
                </tr>
                <tr>
                    <td>
                    <br>   A golden image is essentially a template for the image-type you want to base subsequent future versions of the image off of
                    </td>
                </tr>
                <tr>
                    <td>
                    This allows us to have standardized policy and structure in place
                    </td>
                </tr>
                <tr>
                    <td>We deploy Version 2, once we confirm that the changes are enacted and the new image successfully deploys, then we can decommission Version 1 
                    </td>
                </tr>
                <br>
                <tr>
                    <td>We rebuild the whole thing all at once to streamline the workflow and versioning of machine images so that all images are identical and no one image has particular unique characteristics
                    </td>
                </tr>
                <br> 
            </table>

        </div>
    </div>
</div>

{% endblock %}

{% block last_page %}
<a href="{{ url_for('uc_04_challenge') }}">
    <img src="{{ url_for('static', filename='img/left-arrow.svg') }}" alt="Last">
</a>
{% endblock %}