{% extends 'base.html' %}

{% block head %}
{{ super() }}
<style>
    .main-content {
        width: var(--instruqt-view-width);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
    }

    .explainer-icon {
        width: 128px;
        height: 128px;
    }

    .explainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
{% endblock %}

{% block main_body %}

<div class="main-container">
    <div class="main-content">
                
                <h1>A few more definitions...</h1>
                <br>
                <div class="explainer-wrapper">
                <ul>
                    <li><strong>configuration drift</strong> = changes to software or hardware are not 
                        efficiently tracked causing servers to become more divergent from 
                        one another and the original config.
                    </li>
                    <br>
                    <li><strong>snowflake servers</strong> = a server that requires special configuration 
                        which makes scaling and recover from issues difficult
                    </li>
                </ul>
                </div>
    </div>
</div>

{% endblock %}

{% block last_page %}
<a href="{{ url_for('uc_02_challenge') }}">
    <img src="{{ url_for('static', filename='img/left-arrow.svg') }}" alt="Last">
</a>
{% endblock %}

{% block next_page %}
<a href="{{ url_for('uc_02_workflow') }}">
    <img src="{{ url_for('static', filename='img/right-arrow.svg') }}" alt="Next">
</a>
{% endblock %}