{% extends 'base.html' %}

{% block head %}
{{ super() }}

{% endblock %}

{% block main_body %}

<div class="main-container">
    <div class="main-content">
        <div class="explainer-wrapper">

            <h1>Let's review some benefits of each:</h1>
 
            <table class="styled-table">
                <tr>
                    <th>Immutable</th>
                    <th>Mutable</th>
                </tr>
                <tr>
                    <td><strong>Pros:</strong>
                    <ul>
                        <li>consistency + reliability of infrastructure</li>
                        <li>HIGH SPEED + LOW COST of virtual servers</li>
                        <li>More predictable deployment process</li>
                    </ul>
                    </td>
                    <td><strong>Pros:</strong>
                    <ul>
                        <li>before virtualization = cost of replacing a physical server was very high</li>
                    </ul>
                    </td>
                </tr>
                <tr>
                    <td><strong>Cons:</strong> 
                        <ul>
                            <li>comprehensive deployment automation (but our tools assist with this!)</li>
                        </ul></td>
                    <td><strong>Cons:</strong>
                        <ul>
                            <li>configuration drift</li>
                            <li>snowflake servers</li>
                        </ul>
                </tr>
            </table>

        </div>
    </div>
</div>

{% endblock %}

{% block next_page %}
<a href="{{ url_for('uc_02_description') }}">
    <img src="{{ url_for('static', filename='img/right-arrow.svg') }}" alt="Next">
</a>
{% endblock %}