{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main_body %}

<div class="main-container">
    <div class="main-content">
        <div class="slide-content">

            <div class="explainer-wrapper">
                <h1>Movie buffs <strong>UNITE!</strong></h1>
                <p>Congratulations! You and two of your best friends who are devoted movie-goers have created a web app to share your love for movies with the world.
                </p>
                <p>To get started, you’ve decided to leverage the help of the API (Application Programming Interface) from The Movie Database (TMDB).</p>
                
                <p>Your web application retrieves up-to-date information on the week’s trending movies. 
                </p>

                <p>With each page refresh, you should see a new movie displayed along with its poster image and a short description.
                </p>
                
            </div>

        </div>

        <img src="{{ url_for('static', filename='img/sponge-movie.png') }}" alt="Spongebob Movie" width="200" height="275">
        <img src="{{ url_for('static', filename='img/movie-clipart.png') }}" alt="Movie Icons" width="250" height="275">
        <span class="tooltiptext" id="tooltiptext">Movie Icons</span>
        
    </div>
</div>
{% endblock %}

{% block last_page %}
<a href="{{ url_for('uc_03_challenge') }}">
    <img src="{{ url_for('static', filename='img/left-arrow.svg') }}" alt="Last">
</a>
{% endblock %}


{% block next_page %}
<a href="{{ url_for('uc_03_workflow') }}">
    <img src="{{ url_for('static', filename='img/right-arrow.svg') }}" alt="Next">
</a>
{% endblock %}