{% extends 'base.html' %}

{% block head %}
{{ super() }}

{% endblock %}

{% block main_body %}

<div class="main-container">
    <div class="main-content">
        <div class="explainer-wrapper">

            <h1>Mutable vs. Immutable</h1>
 
            <table class="styled-table">
                <tr>
                    <th>Immutable</th>
                    <th>Mutable</th>
                </tr>
                <tr>
                    <td> easily replicable. For any change, all servers are updated together so no versioning 
                        differences  </td>
                    <td>
                        = unique and each server modified in-place. Servers updated individually rather than all at once
                    </td>
                    <td>Different workflow processes across multiple target environments introduce significant 
                        overhead for development, release and maintenance.</td>
                </tr>
                <tr>
                    <td>
                        think: CATTLE! Each server is one of many in the “herd” of servers. No individual from the herd is unique</td>
                    <td>think: PETS! Because they are unique</td>
                </tr>
            </table>

        </div>
    </div>
</div>

{% endblock %}

{% block next_page %}
<a href="{{ url_for('uc_02_description') }}">
    <img src="{{ url_for('static', filename='img/right-arrow.svg') }}" alt="Next">
</a>
{% endblock %}