{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main_body %}

<div class="main-container">
    <div class="main-content">
        <div class="slide-content">

            <div class="explainer-wrapper">
                <center><h1><strong>What we have covered in this lab track:</strong></h1></center>
                <center><img src="{{ url_for('static', filename='img/spongebob-reading.gif') }}" alt="Spongebob Movie" width="300" height="275"></center>
                <p> 1. What is immutable infrastructure
                </p>
                <p>
                    2. Registering an AMI and deploying a web application with HCP Packer and Terraform Cloud
                </p>
                
                <p>
                    3. Automating app alterations and re-deployment with CI/CD pipeline using GitHub Actions
                </p>

                <p>
                    4. Created an awesome list of movies to watch!
                </p>
                
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block next_page %}
<a href="{{ url_for('uc_04_description') }}">
    <img src="{{ url_for('static', filename='img/right-arrow.svg') }}" alt="Next">
</a>
{% endblock %}