{% extends 'base.html' %}

{% block head %}
{{ super() }}
<style>
</style>
{% endblock %}

{% block main_body %}

<div class="main-container">
    <div class="main-content">
        <div class="explainer-wrapper">

            <h1>Let's play around with the web app!</h1>
            <table class="styled-table">
                <tr>
                    <th>Our tools:</th>
                </tr>
                <tr>
                    <td>
                        1. HashiCorp Cloud Platform (HCP) Packer
                        <!-- With corporate guidance, teams can automate the promotion of machine images to support emerging
                        standards. -->
                    </td>
                    <!-- <td>Teams can plan for emerging improvements to their machine images and promote them using modern
                        DevOps automation patterns from development to pre-production to production stages.
                    </td> -->
                </tr>
                <tr>
                    <td>
                        2. Terraform Cloud for Business (TFCB)
                        <!-- When modifications are identified, teams can quickly upstream and downstream changes with
                        controlled automation. -->

                    </td>
                
                    <!-- <td>Machine images can iterate through revisions as needed, and consuming teams can rely on
                        acquiring currently authorized versions in their application domain.</td>
                </tr>
                <tr>
                    <td>
                        <strong>Retire images</strong>:
                        Teams can plan to retire machine images that no longer meet current standards.
                    </td>
                    <td>Teams can plan to retire machine images within a grace period and sometimes immediately to avoid
                        vulnerabilities.</td>
                </tr> -->
            </table>
            <br><br>
            <center><img src="{{ url_for('static', filename='img/bring-it-on.png') }}" alt="Bring it on" width="350" height="275"></center>
        </div>

    </div>
</div>

{% endblock %}


{% block last_page %}
<a href="{{ url_for('uc_03_description') }}">
    <img src="{{ url_for('static', filename='img/left-arrow.svg') }}" alt="Last">
</a>
{% endblock %}

{% block next_page %}
<a href="{{ url_for('uc_03_workflow') }}">
    <img src="{{ url_for('static', filename='img/right-arrow.svg') }}" alt="Next">
</a>
{% endblock %}
