{% extends 'base.html' %}

{% block head %}
{{ super() }}
<style>
</style>
{% endblock %}

{% block main_body %}

<div class="main-container">
    <div class="main-content">
        <div class="slide-content">
            
                <div class="explainer-wrapper">
                    <h1>Mutable Infrastructure</h1>
                    <p>Not long ago, our servers were mostly based on MUTABLE infrastructure. 
                        This meant that such servers were IRREPLACEABLE and UNIQUE systems… 
                        Just like your favorite pets at home! &#128054 &#128049</p>
                    <br>
                </div>
    
                <div class="explainer" style="--splash-delay: 6">
                    <p>These mutable servers were continually updated and modified in place on
                        a server-by-server basis. 
    
                        Now, we are in a transition towards immutable infrastructure! YAY!</p>
                    <img src="{{ url_for('static', filename='img/spongebob-hooray.gif') }}">
                </div>

        </div>

    </div>
</div>

{% endblock %}

{% block last_page %}
<a href="{{ url_for('uc_02_challenge') }}">
    <img src="{{ url_for('static', filename='img/left-arrow.svg') }}" alt="Last">
</a>
{% endblock %}


{% block next_page %}
<a href="{{ url_for('uc_02_workflow') }}">
    <img src="{{ url_for('static', filename='img/right-arrow.svg') }}" alt="Next">
</a>
{% endblock %}